$background-center: no-repeat center/cover;
$main-heading-fs: 50px;
$section-heading-fs: 40px;
$body-fs: 18px;
$paragraph-color: #000;
$hover-color: #257705;
$parent-display: flex;
$gap: 20px;
$border: 1px solid #666;
$input-padding: 10px;
$section-padding: 50px 0;
$transition-duration: 0.5s;