/*
    Lessons 86 - 88
*/


/* Assignment One */

/* .center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.circle-100 {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-200 {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */


/* Assignment Two */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 400px;
    margin: 2% auto;
    padding: 20px;
    background-color: #eee;
    position: relative;
}

div.arrow::after {
    content: "";
    position: absolute;
    border: 20px solid #eee;
}

div.arrow.top::after  {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

div.arrow.right::after {
    top: 50%;
    right: -40px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

div.arrow.bottom::after {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

div.arrow.left::after {
    top: 50%;
    left: -40px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
} */